.main-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer {
  width: 100%;
}

.responsive-nav {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: large;
}
